.grid_container{
    width: 50%;
    height: 50vh;
    background-color: aquamarine;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 60% auto;
}
.grid_container div{
    border: 1px solid black;
}
.grid_container_twoo{
    width: 50%;
    height: 50vh;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.grid_container_twoo div{
    border: 1px solid black;
}
header{
    border: 1px solid black;
    grid-area: my-header;
}
nav{
    border: 1px solid black;
    grid-area: my-nav;
}
main{
    border: 1px solid black;
    grid-area: my-main;
}
aside{
    border: 1px solid black;
    grid-area: my-aside;
    display: grid;
    gap: 50px;
    grid-template-rows: 1fr 1fr 1fr;
}
aside div{
    border:1px solid black;
}
footer{
    border: 1px solid black;
    grid-area: my-footer;
}
.grid_page{
    width: 100%;
    height: 150vh;
    background-color: beige;
    display: grid;
    gap : 10px;
    grid-template-areas:
    "my-header my-header my-header"
    "my-nav my-main my-aside"
    "my-footer my-footer my-footer"
    ;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
}
.menu{
    width: 80%;
    height: 50vh;
    border: 1px solid black;
    position: sticky;
    top: 0;
    min-height: 2em;
    margin: 10%;
}